<h1>Login</h1>

<% if flash.alert %>
   <%= flash.alert %>
<% end %>

<ul class = "login">

  <%= form_for :session, url: login_path do |f| %>

   <li><%= f.label :name %></li>
    <li><%= f.text_field :name %></li>
  
    <li><p><%= f.label :password %></li>
    <li><%= f.text_field :password %></p></li>

    <br><p><%= f.submit %></p>
<% end %>
</ul>
