<h2>Discover the world with us</h2>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <%= error %><br>
    <% end %>
<% end %>

<% if flash[:success] %>
    <% flash[:success] %>
<% end %>

<%= form_for @booking do |f| %>
    
    <p>Departing from: <%= f.collection_select :flight_id, Flight.all, :id, :departure %></p>
    <p>Going to: <%= f.collection_select :flight_id, Flight.all, :id, :destination %></p>
    <%= f.label :seat_number %>
    <%= f.number_field :seat_number %><br>
    <p><%= f.submit %> </p>
    
<% end %>

<%= button_to "My bookings", user_path(@booking.user), method: :get %>

    
    
    
