<h1> Change seat </h1>

<% if flash[:my_errors] %>
    <% flash[:my_errors].each do |error| %>
        <%= error %><br>
    <% end %>
<% end %>

<%= form_for @booking do |f| %>
    <%= f.label :seat_number %>
    <%= f.number_field :seat_number %>

    <%= f.submit %>
<% end %>

