
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <%= error %><br>
    <% end %>
<% end %>
<br>

<%=form_for @user do |f| %>

<p><%= f.label "Name:"%>
<%= f.text_field :name %></p>


<p><%= f.label "Password:"%>
<%= f.text_field :password %></p>
<br>
<%= f.submit %>
<% end %>