<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>FlightEz</title>
  <head>
    <% if @current_user %>
        <h3>Welcome <%= @current_user.name %></h3>
        <p><%= link_to "logout", logout_path, method: :delete %></p>
    <% else %>
       <%= link_to "Sign Up", new_user_path %>
       <%= link_to "Sign In", new_login_path %>
    <% end %>
  <%= yield %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  </body>
</html>
